body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing:  border-box;
  font-family: 'Poppins' sans-serif;
}

.limit-section {
  max-width: 1024px;
  margin: 0 auto;
}

.subtitle {
  font-size: 36px;
  margin: 0;
  text-transform: uppercase;
}